@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import '_variables';

:root {
  --dark-cyan: #{$dark-cyan};
  --very-dark-desaturated-blue: #{$very-dark-desaturated-blue};
  --dark-grayish-blue: #{$dark-grayish-blue};
  --dark-gray: #{$dark-gray};
}

* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: var(--dark-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.topbg {
  position: absolute;
  background: url(../imagenes/bg-pattern-top.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 150%;
  width: 150%;
}

.botbg {
  position: absolute;
  background: url(../imagenes/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 150%;
  width: 150%;
}

.card {
  width: 390px;
  height: 410px;
  border-radius: 20px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  font-size: 18px;
  background-color: whitesmoke;
  z-index: 1;
  &__bg {
    width: 100%;
  }
  &__profile {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__pic {
    width: 120px;
    height: auto;
    border-radius: 50%;
    position: relative;
    top: -60px;
    border: 6px solid whitesmoke;
    background-color: whitesmoke;
  }
  &__name {
    margin: 0;
    position: relative;
    top: -40px;
    color: var(--dark-gray);
    span {
      font-size:18px;
      font-weight: bold;
      color: black;
    }
  }
  &__location {
    margin: 0;
    position: relative;
    top: -30px;
    color: var(--dark-gray);
    font-size: 1rem;
  }
  &__stats {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    border-top: 1px solid var(--dark-gray);
  }
  &__number {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 5px;
    font-weight: bold;
  }
  &__text {
    margin: 0;
    font-size: 12px;
    color: var(--dark-gray);
  }
}